#python==3.10.12

anomalib==2.0.0
einops==0.8.1
kornia==0.8.1
lightning==2.5.1.post0
matplotlib==3.10.3
opencv-python==4.11.0.86
pandas==2.3.0
pillow==11.2.1
scikit-learn==1.7.0
thop==0.1.1.post2209072238
tifffile==2025.5.10
tensorboard==2.19.0
torch==2.7.1
torchmetrics==1.7.3
torchvision==0.22.1

